<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT Client ANY>
<!ATTLIST Client id ID #REQUIRED>
<!ELEMENT ClientImage ANY>
<!ATTLIST ClientImage id ID #REQUIRED>
<!ELEMENT Clients ANY>
<!ATTLIST Clients id ID #REQUIRED>
<!ELEMENT ClientText ANY>
<!ATTLIST ClientText id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>

]>
<root id="-1">
  <Home id="1046" parentID="-1" level="1" writerID="0" creatorID="0" nodeType="1044" template="1045" sortOrder="2" createDate="2012-11-10T21:18:19" updateDate="2012-11-10T21:18:24" nodeName="Home" urlName="home" writerName="Lars Enevold" creatorName="Lars Enevold" path="-1,1046" isDoc="">
    <Clients id="1050" parentID="1046" level="2" writerID="0" creatorID="0" nodeType="1047" template="0" sortOrder="1" createDate="2012-11-10T22:39:45" updateDate="2012-11-10T22:42:17" nodeName="Clients" urlName="clients" writerName="Lars Enevold" creatorName="Lars Enevold" path="-1,1046,1050" isDoc="">
      <Client id="1052" parentID="1050" level="3" writerID="0" creatorID="0" nodeType="1048" template="0" sortOrder="0" createDate="2012-11-10T22:41:55" updateDate="2012-11-10T23:40:28" nodeName="Born Builders" urlName="born-builders" writerName="Lars Enevold" creatorName="Lars Enevold" path="-1,1046,1050,1052" isDoc="">
        <header>Jesse O'Brian Branding &amp; Website</header>
        <subHeader>Branding &amp; photography for Jesse O'Brian</subHeader>
        <overview><![CDATA[
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
imperdiet hendrerit dignissim. Mauris porta iaculis odio in
condimentum. Pellentesque leo leo, tincidunt sed euismod in,
interdum et purus. Nullam adipiscing ultrices justo, ac consequat
velit rhoncus eget. Nulla faucibus purus metus. Nam sem lorem,
mattis eu fermentum ut, ultrices facilisis orci. Nam condimentum
justo non mauris semper iaculis. Donec tristique dapibus
ullamcorper.</p>
]]></overview>
        <ClientImage id="1056" parentID="1052" level="4" writerID="0" creatorID="0" nodeType="1054" template="0" sortOrder="0" createDate="2012-11-10T23:51:13" updateDate="2012-11-10T23:53:38" nodeName="Image 1" urlName="image-1" writerName="Lars Enevold" creatorName="Lars Enevold" path="-1,1046,1050,1052,1056" isDoc="">
          <image>1060</image>
        </ClientImage>
        <ClientText id="1063" parentID="1052" level="4" writerID="0" creatorID="0" nodeType="1055" template="0" sortOrder="1" createDate="2012-11-11T00:58:14" updateDate="2012-11-11T02:11:44" nodeName="Text" urlName="text" writerName="Lars Enevold" creatorName="Lars Enevold" path="-1,1046,1050,1052,1063" isDoc="">
          <content><![CDATA[
<p class="title">Barefoot traning with a feather-light feel</p>

<p><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
Nulla imperdiet hendrerit dignissim. Mauris porta iaculis odio in
condimentum. Pellentesque leo leo.</em></p>
]]></content>
        </ClientText>
        <ClientImage id="1062" parentID="1052" level="4" writerID="0" creatorID="0" nodeType="1054" template="0" sortOrder="2" createDate="2012-11-10T23:53:44" updateDate="2012-11-10T23:53:49" nodeName="Image 2" urlName="image-2" writerName="Lars Enevold" creatorName="Lars Enevold" path="-1,1046,1050,1052,1062" isDoc="">
          <image>1061</image>
        </ClientImage>
      </Client>
    </Clients>
  </Home>
</root>