@inherits umbraco.MacroEngines.DynamicNodeContext
                @{
                    var root = Model.AncestorOrSelf();
                    var nodes = root.Children("info").Children.Where("Visible");
                    foreach (var item in root.Children.Where("Visible")) {
                        var selected = Array.IndexOf(Model.Path.Split(','), item.Id.ToString()) >= 0 ? " class=\"selected\"" : "";
                        <li@Html.Raw(selected)>
                            <a href="@item.Url">@item.Name</a>
                        </li>
                    }
                }