@inherits umbraco.MacroEngines.DynamicNodeContext
                            @{
                                var clients = Model.AncestorOrSelf().Descendants("Client").Where("Visible");
                                foreach (var client in clients)
                                {
                                    <p>@client.Name</p>
                                }
                            }