@inherits umbraco.MacroEngines.DynamicNodeContext
                    @{
                        var clients = Model.AncestorOrSelf().Descendants("Client").Where("Visible");
                        foreach (var client in clients) {
                            <li>
                                <a href="#">@client.Name</a>
                            </li>
                        }
                    }