@inherits umbraco.MacroEngines.DynamicNodeContext
                @{
                    var root = Model.AncestorOrSelf();
                    var clients = root.Descendants("Client").Where("Visible");
                    foreach (var client in clients) {
                        var selected = Array.IndexOf(Model.Path.Split(','), client.Id.ToString()) >= 0 ? " class=\"selected\"" : "";
                        <li@Html.Raw(selected)>
                            <a href="@client.Url">@client.Name</a>
                        </li>
                    }
                }